* {
    padding:0;
    margin:0;
    box-sizing:border-box
}

    header {
        position:fixed;
    display:flex;
    top:0;
    left:0;
    right:0;
    align-items:center;
    justify-content:space-around;
    padding:10px 7%;
    background:#fff;
    box-shadow:var(--box-shadow);
    z-index:10
}

    header .logo {
        color:var(--black);
    font-size:2.5rem;
    text-decoration:none;
    font-weight:bolder
}

    header .logo i {
        color:var(--green)
    }

    header .navbar {
        list-style-type:none
    }

    header .navbar-item {
        display:inline-block;
    font-size:1.7rem;
    border-radius:5px
}

    header .navbar-item:hover,header .navbar-item.active {
        background-color:var(--green)
    }

    header .navbar-item:hover a,header .navbar-item.active a {
        color:#fff
    }

    header .navbar-item a {
        text-decoration:none;
    color:var(--light-color);
    padding:5px 15px;
    display:block
}

    .icons a:nth-child(2) {
        margin:0 .8rem
    }

    .icons i,.icons a {
        text-decoration:none;
    font-size:1.7rem;
    color:var(--black);
    cursor:pointer;
    background-color:#eee;
    height:4.5rem;
    line-height:4.5rem;
    width:4.5rem;
    text-align:center;
    border-radius:50%;
    transition:all .2s linear
}

    .icons i:hover,.icons a:hover {
        background-color:var(--green);
    color:#fff;
    transform:rotate(360deg)
}

    #menu-bars {
        display:none
    }

    #search-form {
        position:fixed;
    top:-110%;
    left:0;
    height:100%;
    width:100%;
    z-index:1004;
    background:rgba(0,0,0,.8);
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0 1rem;
    transition:all .1s linear
}

    #search-form.active {
        top:0;
    animation:dropDown ease .1s
}

    #search-form #search-box {
        width:50rem;
    padding:1rem 0;
    color:#fff;
    margin-right:12px;
    font-size:3rem;
    text-transform:none;
    background:none;
    border:none;
    border-bottom:1px solid #fff
}

    #search-form #search-box::placeholder {
        color:#eee
    }

    #search-form #search-box::-webkit-search-cancel-button {
        -webkit-appearance:none
    }

    #search-form label {
        color:#fff;
    cursor:pointer;
    font-size:3rem
}

    #search-form label:hover {
        color:var(--green)
    }

    #search-form #close {
        position:absolute;
    color:#fff;
    cursor:pointer;
    top:2rem;
    right:3rem;
    font-size:5rem
}

    .home {
        position:relative;
    top:90px
}

    .slider {
        display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:2rem;
    padding-top:6rem;
    width:100%
}

    .home_slider-content {
        flex:1;
    padding-left:195px;
    margin-top:-40px
}

    .home_slider-content span {
        color:var(--green);
    font-size:2.5rem
}

    .home_slider-content h3 {
        color:var(--black);
    font-size:7rem
}

    .home_slider-content p {
        color:var(--light-color);
    font-size:2.2rem;
    padding:.5rem 0;
    line-height:1.5;
    margin-bottom:12px
}

    .home_slider-content a {
        transition:all .2s linear
    }

    .home_slider--image {
        flex:1
    }

    .home_slider--image img {
        width:80%
    }

    .dishes {
        position:relative;
    top:250px;
    background-color:#eee;
    padding-top:24px;
    padding-bottom:24px
}

    .dishes__menu {
        display:flex;
    flex-wrap:wrap;
    margin-top:16px
}

    .dishes__item {
        overflow:hidden;
    min-height:365px
}

    .item {
        position:relative;
    background-color:#fff;
    margin:8px 2px;
    overflow:hidden;
    border-radius:3px;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1)
}

    .dishes__item-image {
        min-height:245px;
    display:flex
}

    .dishes__item-description {
        position:absolute;
    width:100%
}

    .dishes__item:hover {
        outline:5px solid var(--green);
    cursor:pointer
}

    .dishes__item a.fas {
        position:absolute;
    top:12px;
    margin-left:-60px
}

    .dishes__item:hover a.fas {
        margin-left:12px
    }

    .dishes__item a.fa-heart {
        right:-60px
    }

    .dishes__item:hover a.fa-heart {
        right:12px
    }

    .dishes__item img {
        width:65%;
    margin:auto
}

    .dishes__item h3 {
        text-align:center
    }

    .item h3 {
        color:var(--black);
    font-size:21px
}

    .dishes__item .stars {
        text-align:center;
    margin-top:8px;
    padding-bottom:14px
}

    .stars {
        color:var(--green);
    font-size:1.4rem
}

    .dishes__item span {
        margin-left:96px;
    margin-right:10px
}

    .item span {
        color:var(--green);
    font-size:2.1rem;
    font-weight:bolder
}

    .dishes__item-description>a {
        transition:all .2s linear
    }

    .about {
        position:relative;
    top:270px
}

    .about__header {
        margin-bottom:20px
    }

    .about__description-img img {
        width:100%
    }

    .about__description-box a {
        transition:all .2s linear
    }

    .about__description-header {
        margin-top:50px;
    margin-bottom:10px
}

    .about__description-header h3 {
        color:var(--black);
    font-size:2.5rem
}

    .about__description-content p {
        margin:5px 0
    }

    .icons-container {
        margin-bottom:30px;
    margin-top:15px
}

    .icons-container .icon-box {
        background-color:#eee;
    padding:10px 12px;
    display:flex;
    justify-content:space-around;
    border-radius:3px;
    border:1px solid #c4c4c4
}

    .icons-container .icon-box i {
        font-size:3rem;
    color:var(--green)
}

    .icons-container .icon-box span {
        font-size:1.5rem;
    margin-top:4px
}

    .menu {
        position:relative;
    top:270px;
    background-color:#eee;
    padding-top:25px;
    padding-bottom:15px
}

    .menu__item {
        padding-bottom:20px
    }

    .menu__item .icons a {
        background-color:#fff
    }

    .menu__item .icons:hover a {
        color:#fff;
    background-color:var(--green);
    transform:none
}

    .menu__item-image .img {
        border-radius:4px;
    height:270px;
    margin:15px;
    background-size:cover
}

    .menu__item-image {
        min-height:280px
    }

    .menu__item-description {
        margin:0 20px
    }

    .menu__item-description p,.menu__item-description .stars,.menu__item-description h3 {
        margin:10px 0
    }

    .menu__item-description>a {
        transition:all .2s linear;
    margin-right:12px
}

    .menu__item:hover {
        outline:5px solid var(--green);
    cursor:pointer
}

    .view {
        position:relative;
    top:290px;
    padding-bottom:12px
}

    .view_wrapper {
        margin-top:25px
    }

    .view__slider.col {
        width:100%;
    padding-left:8px;
    padding-right:8px
}

    .view__slider-content {
        position:relative;
    border:1px solid #f1f1f1;
    border-radius:3px;
    padding:0 15px;
    box-shadow:0 .5rem .8rem rgba(0,0,0,.1)
}

    .view__slider-content>i {
        position:absolute;
    color:#d8d8d8;
    font-size:5rem;
    top:20px;
    right:20px
}

    .view__slider-content p {
        margin-top:12px
    }

    .view__slider-content .user {
        display:flex;
    margin-top:20px
}

    .user-info {
        margin:10px 0
    }

    .view__slider-content .user img {
        border-radius:50%;
    width:15%;
    margin-right:10px
}

    .order {
        position:relative;
    top:400px;
    padding-bottom:20px;
    background-color:#eee
}

    .order__header {
        padding-top:20px
    }

    .order__info {
        margin-top:20px
    }

    .order form {
        max-width:90rem;
    border-radius:.5rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    background:#fff;
    padding:1.5rem;
    margin:0 auto
}

    .order form .inputBox {
        display:flex;
    flex-wrap:wrap;
    justify-content:space-between
}

    .order form .inputBox .input {
        width:49%
    }

    .order form .inputBox .input span {
        display:block;
    padding:.5rem 0;
    font-size:1.5rem;
    color:var(--light-color)
}

    .order form .inputBox .input input,.order form .inputBox .input textarea {
        background:#eee;
    border-radius:.5rem;
    padding:1rem;
    font-size:1.6rem;
    color:var(--black);
    text-transform:none;
    margin-bottom:1rem;
    width:100%;
    border:.2rem solid transparent;
    outline:none
}

    .order form .inputBox .input input:focus,.order form .inputBox .input textarea:focus {
        border:.2rem solid var(--green)
    }

    .order form .inputBox .input textarea {
        height:20rem;
    resize:none
}

    .order form .btn {
        margin-top:0;
    transition:all .2s linear;
    border:none;
    cursor:pointer
}

    .footer {
        position:relative;
    top:400px
}

    .footer__box {
        padding-top:20px
    }

    .footer__name {
        color:var(--black);
    font-size:2.5rem;
    font-weight:bolder
}

    .footer__list {
        list-style-type:none
    }

    .footer__item a {
        color:var(--light-color);
    font-size:1.3rem;
    line-height:2.5rem;
    text-decoration:none
}

    .footer .credit {
        text-align:center;
    border-top:.1rem solid rgba(0,0,0,.1);
    font-size:2rem;
    color:var(--black);
    padding:.5rem;
    padding-top:1.5rem;
    margin-top:1.5rem
}

    .footer .credit span {
        color:var(--green)
    }

    .loader-container {
        position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:10000;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden
}

    .loader-container img {
        width:35rem
    }

    .loader-container.fade-out {
        top:-110%;
    animation:FadeOut ease .3s;
    transition:all .3s linear
}
